
@import "~@fullcalendar/daygrid/main.min.css";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

input[type = email]:invalid {
  color: #f65757;
}

.avatarButton {
  display: block;
}

.avatarButton:hover {
  display: block;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.56);
  width: 130px;
  height: 120px;
  position: absolute;
  top: 10px;
}